<ul>
  <% @questions.each do |question| %>
    <li>
      <a href="/questions/<%= question.id %>"><h4><%= question.title %></h4></a>
    </li>
  <% end %>
</ul>

<a href="/questions/new">Ask a new question!</a>
