
<h1>Ask a Question</h1>

<form id="question" action="/questions" method="post">
  <label for="question_title">Title:</label>
  <input type="text" name="question[title]" id="question_title">
  <label for="question_description">Description:</label>
  <input type="text" name="question[description]" id="question_description">
  <input type="text" name="question[user_id]" value="1" hidden>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="submit">

</form>
